.container{        
    flex-grow: 1;
}

.dropDown{
    display: flex; 
    justify-content: space-between;
    padding: .5em 1em;      
    background-color: rgba($color: #000, $alpha: .5); 
    cursor: pointer;    
    span{
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
}

.options{
    position: relative;    
    background-color: rgba($color: #000, $alpha: .9); 
    ul{
        list-style: none;
        position: absolute;
        width: 100%;
        background-color: rgba($color: #000, $alpha: .9); 
        z-index: 5;
        li{ 
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 1em;

            p{
                padding-left: 1em;
            }

            &:hover{
                background-color: rgba($color: #000, $alpha: .8); 
                color: #FFC312;
            }
        }
    }
    
}