.navbar{
    display: flex;
    align-items: center;
    min-height: 5em;
    padding: 0 4em 0 4em;
    color: #fff;

    .logoAndButton{
        display: flex;
        width: auto;
        padding-top: 1em;
        
        .logo{
            display: flex;
            width: 200px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .buttonColapse{
            color: #fff;
            font-size: 2em;
            visibility: hidden;
        }
    }

    .search{
        width: 100%;
    }

    

    .links{
        display: flex;
        width: 90%;
        .listLinks{
            display: flex;
            align-items: center;
            list-style: none;
            display: flex;
            padding-top: 0.5em;
    
            li{
                padding-right: 1em;

                
            }
            
        }
        a{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            transition: 200ms;
    
            &:hover{
                color: #FFC312;
            }
    
        }

    }
}





@media (max-width:  700px){
    .links{
        font-size: 1em;
    }
}

@media (max-width:  1000px){
    .navbar{
        display: flex;
        flex-direction: column;
        padding: 0; 
        
        .logoAndButton{
            display: flex;
            width: 100%;
            
            .logo{
                display: flex;
                width: 100%;
                align-items: center;
                padding-left: 4em;
                justify-content: center;
            }
            
            .buttonColapse{     
                justify-content: end;
                align-self: flex-end;            
                color: #fff;
                font-size: 2em;
                padding: .5em;
                visibility: visible; 
                
                svg{
                    cursor: pointer;
                }
            }
        }
        
        .links{
            display: flex;   
            flex-direction: column; 
            align-items: flex-start;  
            justify-content: flex-start;   
            visibility: hidden;
            height: 0;        
            background-color: rgba($color: #3B3B98, $alpha: .3);
            width: 100%;
            transition:  300ms;
            .listLinks{            
                display: block;
                padding: 1em;
                visibility: hidden;
        
                li{
                    padding-top: 1em;
                }
            }
            a{
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                transition: .15s;
        
                &:hover{
                    color: #fff;
                }   
            }
            
            &.active{
                height: 40vh;
                visibility: visible;
                .listLinks{ 
                    visibility: visible;
                }
            }
    
            
        }
    }      
    
    
}