.container{
    min-height: calc(100vh);
}

.mainContent{
    display: flex;        
    background-color: rgba($color: #000, $alpha: .9); 
    min-height: 50vh;       
    color: #fff;
    margin: 1em;
    border-radius: 0.5em;    

    .mainText{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;       
        padding: 1em;
        width: 50%;

        h1{
            font-size: 3rem;
            font-weight: bolder;
        }

        p{
            font-size: 1.2em;
            padding-top: 1em;
        }
    }

    .mainImage{
        display: flex;
        width: 50%;   
        padding: 1em; 
        img{
            -webkit-mask-image: linear-gradient(to right, transparent 1%, black 80%);
            mask-image: linear-gradient(to right, transparent 1%, black 100%);
            border-radius: 10px;
        }  
       
    }
}

.listContent{
    display: flex;    
    flex-direction: column;    
    background-color: rgba($color: #000, $alpha: .8); 
    min-height: 50vh;       
    color: #fff;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;     

    .description{
        color: #fff;
        border-bottom: .3em solid #FFC312;
        p{
            span{
                color: #FFC312;
            }
        }
        
    }

    .listCard{
        display: grid;
        grid-template-columns: repeat(8,1fr);   
        gap: 1em;
        
    }

    .pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5em 0;

        button{
            padding: 0.5em;
            min-width: 70px;
            border: none;
            outline: none;
            color: #fff;
            background-color: rgba($color: #000, $alpha: .7); 
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                color:#FFC312;
            }

            &:disabled{
                background-color: rgba($color: #ccc, $alpha: .7); 
                cursor: not-allowed; 
                color: #000;
            }

        }
        
        span{
            margin: 0 1em 0 1em;
        }
    }
    
    
}

// Mobile
@media (max-width: 1400px){

    .mainContent{ 
    
        .mainText{
    
            h1{
                font-size: 3rem;
                font-weight: bolder;
            }
    
            p{
                font-size: 1em;
                padding-top: 1em;
            }
        }
    }

}

@media (max-width: 1400px){

    .mainContent{ 
    
        .mainText{
    
            h1{
                font-size: 3rem;
                font-weight: bolder;
            }
    
            p{
                font-size: 1em;
                padding-top: 1em;
            }
        }
    }

}

@media (max-width: 1200px){
    .listContent{
    
        .listCard{
            display: grid;
            grid-template-columns: repeat(5,1fr);   
            gap: 1em;
            
        }
    }
}

@media (max-width: 1000px){
    .mainContent{
        flex-direction: column-reverse; 
    
        .mainText{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;       
            padding: 1em;
            width: fit-content;
            font-size: 1em;
    
            h1{
                font-size: 2em;
                font-weight: bolder;
            }
    
            p{
                
                padding-top: 1em;
            }
        }
    
        .mainImage{
            display: flex;
            width: fit-content;             
            padding: 1em; 
            img{
                -webkit-mask-image: linear-gradient(to top, transparent 1%, black 80%);
                mask-image: linear-gradient(to top, transparent 1%, black 100%);
                border-radius: 10px;
            }  
           
        }
    }

    .listContent{
    
        .listCard{
            display: grid;
            grid-template-columns: repeat(4,1fr);   
            gap: 1em;
            
        }
    }
}

@media (max-width: 800px){
    .listContent{
    
        .listCard{
            display: grid;
            grid-template-columns: repeat(3,1fr);   
            gap: 1em;
            
        }
    }
}

@media (max-width: 600px){
    .listContent{
    
        .listCard{
            display: grid;
            grid-template-columns: repeat(2,1fr);   
            gap: 1em;
            
        }
    }
}

